.col-md-6 {
    height: 100vh;
}
@media only screen and (max-width: 600px) {
    .col-md-6 {
      height: auto;
    }
  }

  .bg-image {
      max-height: 100vh;
      min-width: 100%;
      object-fit: cover;
  }

  h1 {
      font-size: 70px !important;
  }
